In [4]:
# Import necessary libraries
import pyodbc
import numpy as np
import pandas as pd

In [16]:
# Connect to SQL server and connect to Books table. Assign the table data to a pandas DataFrame.
Server = 'DESKTOP-13K0I1P'
try:
    sqlServerConnection = pyodbc.connect('Driver={SQL Server};'
                      f'Server={Server};'
                      'Database=Books;'
                      'Trusted_Connection=yes;')
    SQL_read_query = pd.read_sql_query('SELECT * FROM Books', sqlServerConnection)

    # Create cursor connection to db
    df = pd.DataFrame(SQL_read_query, columns=['title', 'price', 'in_stock', 'rating', 'genre', 'upc', 'description'])
    print("The Books database from SqlServer is connected. Completing reading Books table.")
except pyodbc.Error as error:
    print("Error while connecting to SqlServer - ", error)
finally:
    if sqlServerConnection:
        sqlServerConnection.close()
        print("The SqlServer connection is closed")

The Books database from SqlServer is connected. Completing reading Books table.
The SqlServer connection is closed

In [17]:
df.head()

,title,price,in_stock,rating,genre,upc,description
0,A Light in the Attic,51.770000,22,three,Poetry,a897fe39b1053632,It&#39;s hard to imagine a world without A Lig...
1,Tipping the Velvet,53.740002,20,one,Historical Fiction,90fa61229261140a,"""Erotic and absorbing...Written with starling ..."
2,Soumission,50.099998,20,one,Fiction,6957f44c3847a760,"Dans une France assez proche de la nÃ´tre, un ..."
3,Sharp Objects,47.820000,20,four,Mystery,e00eb4fd7b871a48,"WICKED above her hipbone, GIRL across her hear..."
4,Sapiens: A Brief History of Humankind,54.230000,20,five,History,4165285e1663650f,From a renowned historian comes a groundbreaki...